.icon-left{
    position: absolute;
    top: 20px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.season-display.winter i{
color: lightcoral;
}

.season-display.summer i{
color:blue;
}

.summer{
    background-color: rgb(216, 245, 221)
}

.winter{
    background-color: rgb(221, 179, 179);
}